[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mpu = "*"
numpy = "*"
faiss = "*"
faiss-cpu = "*"
fastapi-cache = "*"
httpx = "*"
fastapi-utils = "*"

[packages.tritonclient]
extras = [ "all",]

[packages.fastapi]
extras = [ "all",]

[dev-packages]

[requires]
python_version = "3.8"
