<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
  <title>Hackernews - Non-commercial Search</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets//favicon-16x16.png">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
 <meta name="msapplication-TileColor" content="#da532c">
 <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="app-body">
        <form class="search-form" id="usrform">
            <div class="search-input-wrapper">
            <input id="t" class="search-input" name="q" placeholder="Describe a comment..." maxlength="100" value="{% if query %}{{ query }}{% endif %}" autofocus>
                <div class="search-input-buttons">
                <button id="clear_search" type="reset" class="btn-reset">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m19 6.41-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z" opacity=".5"
                    fill="currentcolor"></path>
                    </svg>
                </button>
                <button class="btn-submit" type="submit">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
                        fill="currentColor" />
                    </svg>
                </button>
                </div>
            </div>
            <input type="checkbox" name="sans" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
        </form>
        <div class="panel">
            <div class="panel-title">Query Result?</div>
            {% for news in hackernews %}
                <div class="panel-text">
                    <p>
                        <a class="title" href="https://news.ycombinator.com/item?id={{ news.hackernews_id }}">{{ news.title }}</a>
                    </p>
                    <!-- <p class="title">{{ news.title }}&nbsp;&nbsp;<span class="by">{{ news.by }}</span></p> -->
                    {% if news.url %}
                        <a class="score" href="{{ news.url }}">{{ news.url }}</a>
                    {% endif %}
                    <p class="by">by: {{ news.by }}</p>
                    <p class="score">score: {{ news.score }}</p>
                    <p class="score">dist from faiss: {{ news.dist }}</p>
                    <p class="score">descendants: {{ news.descendants }}</p>
                    <p class="score">time: {{ news.time }}</p>
                    <!-- <p class="score">fn_score: {{ news.fn_score }}</p> -->
                    <p>{{ news.text|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>